# directory you wish to backup.
# exclusion paths are relative to source directory
- source: '/home/me'
  one-filesystem: true  # restricts sync to the current file system
  exclusions:
    - './Dropbox'
    - 'tmp'

- source: '/usr/local'
  snapshot: true        # snapshot implies one-filesystem (creates read only snapshot, which is synced)
  exclusions:           # exclusion patterns - they are applied recursively to subdirectories. preceding / is like regex delimiter ^ (i.e. relative to currently synced directory)
    - '/some_folder/'   # always have a trailing slash with folders in exclusion and inclusion
    - '/src/*'          # if you want to include some of its subdirectories, an asterisk * is required
  inclusions:           # don't exclude those files/folders (patterns)
    - '/src/app/'
    - '/src/img/

- source '/var/spool/mail'
- source '/var/www'

# for ntfs or fat file systems
- source: '/mount/ntfdata/pic'
  rsync_options:
    - "--modify-window=1"
